POSTGRES_ROOT_USER=postgres
POSTGRES_ROOT_PASSWORD=postgres
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
VENDOR_DB_NAME=vendor_db
VENDOR_DB_USER=vendor_user
VENDOR_DB_PASS=vendor_pass
PROCUREMENT_DB_NAME=procurement_db
PROCUREMENT_DB_USER=procurement_user
PROCUREMENT_DB_PASS=procurement_pass
RECEIVING_DB_NAME=receiving_db
RECEIVING_DB_USER=receiving_user
RECEIVING_DB_PASS=receiving_pass
INVENTORY_DB_NAME=inventory_db
INVENTORY_DB_USER=inventory_user
INVENTORY_DB_PASS=inventory_pass
WAREHOUSE_DB_NAME=warehouse_db
WAREHOUSE_DB_USER=warehouse_user
WAREHOUSE_DB_PASS=warehouse_pass
RETAIL_SALES_DB_NAME=retail_sales_db
RETAIL_SALES_DB_USER=retail_sales_user
RETAIL_SALES_DB_PASS=retail_sales_pass
SALES_AUDIT_DB_NAME=sales_audit_db
SALES_AUDIT_DB_USER=sales_audit_user
SALES_AUDIT_DB_PASS=sales_audit_pass
FINANCIALS_DB_NAME=financials_db
FINANCIALS_DB_USER=financials_user
FINANCIALS_DB_PASS=financials_pass
